org.rulez.magwas.zenta.export/styles/attic/policy.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:attribute name="source">
</xs:attribute>
<xs:element name="style">
  <xs:complexType>
    <xs:all>
    <xs:element name="diagrams" type="diagrams"/>
    <xs:element name="export" type="export"/>
    <xs:element name="copy" type="copy"/>
    </xs:all>
  </xs:complexType>
</xs:element>

</xs:schema>
